
*.pyc
build/rs-backup-GUI/PKG-00.pkg
*.toc
*.pyz
*.manifest
build/rs-backup-GUI/xref-rs-backup-GUI.html
build/rs-backup-GUI/warn-rs-backup-GUI.txt
dist/Flag-red.ico
dist/rs-backup-GUI.exe
dist/try.log
*.pyc
rs-backup-GUI.spec
